<div class="row">
	<div class="col-md-8 col-xs-8 index-big-banner">
		banner1
	</div>
	<div class="col-md-4 col-xs-4 index-small-banner">
		banner2
	</div>
	<div class="col-md-4 col-xs-4 index-small-banner">
		banner3
	</div>
</div>