<div class="row">
	<div class="col-md-6 col-xs-6 item-image-container">
		<div class="col-md-12 col-xs-12 item-image">
			image
		</div>
		<div class="col-md-12 col-xs-12 item-description">
			description
		</div>
	</div>
	<div class="col-md-4 col-xs-4 item-content"> Product Info
	</div>
	<div class="col-md-10 col-xs-10 item-suggest-container"> Suggestion </div>
</div>