<div class="row">
  <div class="col-md-12 menu">
	<ul>
		<li class="list"> a
			<ul class="subList">
				<a href="product_list.html"><li>a1</li></a>
				<a href="product_list.html"><li>a2</li></a>
				<a href="product_list.html"><li>a3</li></a>
				<a href="product_list.html"><li>a4</li></a>
			</ul>
		</li>
		<li class="list">b
			<ul class="subList">
				<a href="product_list.html"><li>b1</li></a>
				<a href="product_list.html"><li>b2</li></a>
				<a href="product_list.html"><li>b3</li></a>
				<a href="product_list.html"><li>b4</li></a>
			</ul>
		</li>
		<li class="list">c
			<ul class="subList">
				<a href="product_list.html"><li>c1</li></a>
				<a href="product_list.html"><li>c2</li></a>
				<a href="product_list.html"><li>c3</li></a>
				<a href="product_list.html"><li>c4</li></a>
			</ul>
		</li>
		<li class="list">d
			<ul class="subList">
				<a href="product_list.html"><li>d1</li></a>
				<a href="product_list.html"><li>d2</li></a>
				<a href="product_list.html"><li>d3</li></a>
				<a href="product_list.html"><li>d4</li></a>
			</ul>
		</li>
		<li class="list">e
			<ul class="subList">
				<a href="product_list.html"><li>e1</li></a>
				<a href="product_list.html"><li>e2</li></a>
				<a href="product_list.html"><li>e3</li></a>
				<a href="product_list.html"><li>e4</li></a>
			</ul>
		</li>
	</ul>
  </div>
</div>