<div class="col-md-8 col-xs-8">
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
<div class="col-md-3 col-xs-3 product">
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 name">
		Name
	</div>
	<a href="product.html"><div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 image">
		Image
	</div></a>
	<div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1 description">
		Description
	</div>
	<div class="col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1 price">
		Price
	</div>
	<div class="col-md-4 buttons col-xs-4">
		Buy
	</div>
</div>
</div>