<div class="col-md-2 col-xs-2 side_container">
	<div class="col-md-12 sideMenu">
		<div class="col-md-12 col-xs-12 sidebar is-Title">Side Menu</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">a</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">a1</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">a2</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">a3</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">a4</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">b</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">b1</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">b2</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">c</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">c1</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">c2</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">d</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">e</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">e1</div>
			<div class="col-md-12 col-xs-12 sidebar is-Sub">e2</div>
		<div class="col-md-12 col-xs-12 sidebar is-Top">f</div>
		
		<div class="col-md-12 col-xs-12 sidebar is-Title NewArrival">New Arrival</div>
		<div class="col-md-12 col-xs-12 sidebar is-Arrival">1</div>
		<div class="col-md-12 col-xs-12 sidebar is-Arrival">2</div>
		<div class="col-md-12 col-xs-12 sidebar is-Arrival">3</div>
		<div class="col-md-12 col-xs-12 sidebar is-Arrival">4</div>
		<div class="col-md-12 col-xs-12 sidebar is-Arrival">5</div>
		
	</div>
</div>