<!DOCTYPE html>
<html>
<head>
    <title>Left Side Menu App template</title>

    
    <link rel="stylesheet" type="text/css" href="assets/css/af.ui.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/icons.css" />
    <script type="text/javascript" charset="utf-8" src="assets/js/appframework.ui.min.js"></script>
    <!--AppFramework plugin for sliding side menu-->
    <script type="text/javascript" charset="utf-8" src="assets/js/af.slidemenu.js"></script>

    
    <script>   
        $.ui.autoLaunch = false;
        $.ui.animateHeaders = false;
                
        $(document).ready(function(){
            $.ui.setSideMenuWidth('260px');
            $.ui.launch();
        });
    </script>
</head>
<body> 
<div id="afui">
    
    <!--Left Side Menu Navigation bar -->
    <nav>
        <ul class="list">
            <li><a href="#" class="icon home">Home</a></li>
            <li><a href="#" class="icon heart">Favorites</a></li>
            <li><a href="#" class="icon chat">Messages</a></li>
            <li><a href="#" class="icon user">Profile</a></li>
        </ul>
    </nav>
	<div id="content" style="">


            <!--Main Pages-->
		<div class="panel" title="Home" id="home" data-header="top-header" data-footer="none" selected="true">

			<%= link_to "電腦版", index_path(:ua_ => 0) %> | <%= link_to "手機板", index_path(:ua_ => 1) %>
		</div>
	</div>
</div>
</body>
</html>    