<body>
	<div id="container">
		<div id="top_bar">
		
		</div>
		<div class="login-container">
				<%= render partial: "module/login" %>
		</div>
		<div id="banner">

		</div>

		<div id="menu_bar">

		</div>
		<div id="index_banner">

		</div>
		<div id="content">
			
		</div>
		
		<div id="footer">

		</div>

	</div>
<div id="mask"></div>
</body>
