
<body> 
	<style>
	.banner {
		height:200px;
		border: 1px solid #eee;
	}
	.Slider-Title {
		background-color:black;
		color:white
	}
	.device_change {
		text-align: center;
	}
	</style>
<div id="afui">
    
    <!--Left Side Menu Navigation bar -->
    <nav>
        <ul class="list">
			<li class="Slider-Title">Slide Menu</li>
            <li>Vanguard</li>
            <li>Mats</li>


        </ul>
    </nav>
        <div id="content" style="">

            <!--Main Pages-->
            <div class="panel" title="Home" id="home" data-header="top-header" data-footer="none" selected="true">
				<header>
					<a id="menubadge" onclick='$.ui.toggleSideMenu()' class='menuButton' style="float:left !important"></a>
				</header>

				  <div class="col-md-12 banner">Banner</div>

				<div class="device_change">
					<%= link_to "電腦版", index_path(:ua_ => 0) %> | <%= link_to "手機板", index_path(:ua_ => 1) %>
				</div>

			</div>
			
			
		</div>

</div>
</body>
