<body>
	<div id="container">
		<div id="top_bar">
		
		</div>
		<div class="login-container">
				<%= render partial: "module/login" %>
		</div>
		<div id="banner">

		</div>

		<div id="menu_bar">

		</div>
		<div id="index_banner">

		</div>
		<div id="content">
			
		</div>
		
		<div id="footer">

		</div>
		<div class="device_change">
			<%= link_to "電腦版", :ua_ => 0 %> | <%= link_to "手機板", :ua_ => 1 %>
		</div>
	</div>
<div id="mask"></div>
</body>
