<body>

<div id="afui">
	<div id="header">
	<!-- any additional HTML you want can go here -->
	</div>
	<div id="content">
		<div class="panel" id="main" data-title="Main" data-nav="leftNav" data-aside="rightNav">
		sdfasdfas
		</div>
			<div style="text-align:center">
				<%= link_to "電腦版", :ua_ => 0 %> | <%= link_to "手機板", :ua_ => 1 %>
			</div>
	</div>
</div>

</body>









