
$('.Cart_<%= @cartNumber %>').html('$<%= @cart_number_price %>');
$('.Cart_Price_Total').html('Total Amount: $<%= @cartPriceTotal %>');

$("#add_cart").html('<div class="add_cart_box"><div class="add_cart_message">Updated Quantity</div></div>').fadeIn( "fast" ).delay(800).fadeOut();
$('#afui_mask').hide();
$('.load_mask').hide();
$('#home').css('overflow','auto');
