$('#Cart_Container').html('<%= escape_javascript(render partial: "cart_list") %>');

if (<%= @overQuantity %> == 1) {
$("#add_cart").html('<div class="add_cart_box"><div class="add_cart_message">Exceed Maximum Quantity</div></div>').fadeIn( "fast" ).delay(800).fadeOut();
$('#afui_mask').hide();
$('.load_mask').hide();
$('#home').css('overflow','auto');
}
else {
$("#add_cart").html('<div class="add_cart_box"><div class="add_cart_message">Updated Quantity</div></div>').fadeIn( "fast" ).delay(800).fadeOut();
$('#afui_mask').hide();
$('.load_mask').hide();
$('#home').css('overflow','auto');
}