$('.cart_form_<%= @cartNumber %>').remove();

$("#add_cart").html('<div class="add_cart_box"><div class="add_cart_message">刪除</div></div>').fadeIn( "fast" ).delay(800).fadeOut();
$('#afui_mask').hide();
$('.load_mask').hide();
$('#home').css('overflow','auto');