<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for Purchasing</h1>
    <p> Here are the items you have ordered </p>
	<% @order.each do |d| %>
	<div style="width:100%">
	<div style="width:33%"><%= d.product.product_name %></div><div style="width:33%;display:inline-block;"><%= d.quantity %></div><div style="width:33%; display: inline-block;"><%= d.price %></div>
	</div>
	<% end %>
  </body>
</html>
