<!DOCTYPE HTML PUBLIC>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.16.0/build/cssreset/cssreset-min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">
<link rel="stylesheet" href="css/main.css">

<script data-main="js/main.js" src="js/lib/require.js" charset="utf-8" type="text/javascript"></script>


</head>
<style>

</style>

<body>
	<div id="container">
		<div id="top_bar">

		</div>
		<div class="login-container">
				<a class="login-window top_bar_text" dialog="login-box">Login</a>
				<div id="login-box" class="login-popup">
				<a href="#" class="close"><img src="img/x_button.png" class="btn_close" title="Close Window" alt="Close" /></a>
				  <form method="post" class="signin" action="#">
						<fieldset class="textbox">
						<label class="username">
						<span>Username or email</span>
						<input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
						</label>
						<label class="password">
						<span>Password</span>
						<input id="password" name="password" value="" type="password" placeholder="Password">
						</label>
						<button class="submit button" type="button">Sign in</button>
						<p>
						<a class="forgot register_form" href="Register.html">Register</a>
						<a class="forgot" href="#">Forgot your password?</a>
						</p>        
						</fieldset>
				  </form>
				</div>
		</div>
		<div id="banner">

		</div>
		<div id="menu_bar">
		
		</div>
		<div id="content">
			<div class="row">
				<div id="side_menu">
					
				</div>
				<div id="Register_Container">

				</div>
			</div>
		</div>
		
		<div id="footer">

		</div>

	</div>
</body>
</html>