<script>
setTimeout(function() {
  location.href = '<%= index_path %>';
}, 3000);
</script>

				<div id="item_container" style="height:200px;text-align:center;padding-top:50px;">
					Not Found
				</div>

