<body>
	<div id="container">
		<div id="top_bar">

		</div>
		<div class="login-container">
			<%= render partial: "module/login" %>
		</div>
		<div id="banner">

		</div>
		<div id="menu_bar">
		
		</div>
		<div id="content">
			<div class="row">
				<div id="side_menu">
					<%= render partial: "module/sideMenu" %>
				</div>
				<div id="item_container">

				</div>
			</div>
		</div>
		
		<div id="footer">

		</div>

	</div>
<div id="mask"></div>
</body>
