<div class="col-md-12 col-xs-12">

<% @product.each do |product| %>
<div class="col-md-6 col-xs-6 product">
	
	<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 quantity">
		[ 在庫存數: <%= product.quantity %> ]
	</div>
</div>
<% end %>

</div>
<div class="col-md-12 col-xs-12 ">
<%= paginate @product %>
</div>
<div id="add_cart">
</div>


	
