#container, .menu, .sideMenu, .sidebar, .product .name, .Cart_Product_Name , .Cart_Quantity, .Cart_Price, .Cart_Total/*, .product .image, .product .quantity, .product .price, .product .buttons*/, .product .description, .item-image-container, .item-image, .item-content, .item-description, .item-suggest-container, .index-big-banner, .index-small-banner, .register_container, .footer, .register_block {
  border: 1px solid #eee;
}
	#afui{
		height:100% !important;
	}

	.off {
		
	}
	.col-prod {
		margin-left: 1%;
		display:inline-block;
		width:48%;
	}
	.banner {
		height:200px;
	}
	.Slider-Title {
		background-color:#2D5781;
		color:white
	}
	.list {
		background-color:white;
	}
	.device_change {
		padding-top: 40px;
		text-align: center;
	}
	/* line 34, ../sass/main.scss */
	.home_button {
	  float: right;
	  padding-right: 14px;
	  padding-left: 14px;
	  padding-top:5px;
	  margin-top:5px;
	  border-right: 1px solid white;
	  border-left: 1px solid white;
	}

	/* line 37, ../sass/main.scss */
	.home_button_top {
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 12px 12px 12px;
	  border-color: transparent transparent #ffffff transparent;
	}

	/* line 45, ../sass/main.scss */
	.home_button_bottom {
	  margin-left: 5px;
	  width: 14px;
	  height: 11px;
	  background: white;
	  margin-bottom: 5px;
	}

	.cart_button {
	  float:right;
	  margin-top: 2px;
	  padding-right:10px;
	}
	
	.pagination {
		padding-top: 25px;
		display:block !important;
		text-align:center;
	}
	
	.login-button {
		width:100%;
	}
	
	.register-button {
		width:100%;
	}
	
	.search_box {
		border: 5px solid #2D5781;
		margin-top: 1px;
		width: 100%;
		position: fixed;
		overflow: hidden;
		display: block;
		z-index: 250;
		margin-left: -10px;
	}
	.search_header {
		padding-left: 20px;
		position: absolute;
		left: 50px;
		width: 89px;
		padding-top: 13px;
		padding-bottom: 16px;
		margin-left: -6px;
		
	}
	.search_button {
		background-image: url(/assets/img/search_icon.jpg);
		background-size: 31px;
		background-repeat: no-repeat;
		background-position: 7px;
		position: relative;
		display: inline-block;
		padding: 0px 8%;
		font-weight: bold;
		color: black;
		text-align: center;
		vertical-align: top;
		cursor: pointer;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-decoration: none;
		z-index: 2;
		height: 40px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	
	.search_bar{
		margin-top: 3px;
		margin-bottom: 3px;
		width:80% !important;
	}
	
	.search_box_dummy {
		height:60px;
		
	}
	
	.search-on {
		
		background-color:grey;
		opacity:0.8;
	}	
	/* ================================= */
/* ================================= */
/* ================================= */
/* Product CSS */
/* ================================= */
/* line 288, ../sass/main.scss */
#product_container {
  padding-top: 10px;
}

.product_image_little {
  margin-left: -8px;
}
/* line 292, ../sass/main.scss */
.product {
  /*border: 1px solid #eee;*/
  height: 250px;
  margin-top: 20px;
}

/* line 297, ../sass/main.scss */
.product .name {
  font-size:10;
  height:43px;
  margin-bottom: 3px;
}

/* line 302, ../sass/main.scss */
.product .image {
  height: 150px;
}

/* line 307, ../sass/main.scss */
/*.product .description {
  height: 20%;
}*/

/* line 312, ../sass/main.scss */
.product .price {
  font-family:"Times New Roman";
  height: 10%;
}

/* line 317, ../sass/main.scss */
.product .buttons {
  font-family:"Times New Roman";
  font-size: 13;
  height: 10%;
}

.product .product_number {
  font-weight: bold;
}

.product .quantity {
  padding-left: 23px;
  font-size: 10;
}

.list-buy-button {
	width: 90%;
}

/* ================================= */
/* ================================= */

/* ================================= */
/* Cart */
/* ================================= */
#add_cart {
	position: fixed;
	top: 25%;
	left: 50%;
	margin-top: -106px;
	margin-left: -112px;
	z-index:1000;
	background-color:White;
	/* opacity:0.8; */
}

#Cart_Container {

}

.add_cart_message{
	color:black;
	height:85px;
	width:200px;
	padding: 15px 15px 15px 15px;
}

.add_cart_box {
	border: 2px solid black;
}

.Cart_Title {
	Background-Color: grey;
}	

.cart_box {
	padding-top:20px;
	padding-bottom:20px;
}


.cart_image {
	width:40%;
	display:inline-block;
}

.cart_description {
	width:40%;
	display:inline-block;
}

.cart_empty{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 90px;
}

#afui div input.cart-quantity {
	width: 30%;
	text-align:center;
}

.Cart_Price {
	width:40%;
	display:inline-block;
}

.Cart_Total {
	width:40%;
	display:inline-block;
}

.cart_container {
	
}

/* ================================= */
/* ================================= */

/* ================================= */
/* =======Register============== */
/* ================================= */
.register_label {
	font-size: 22px;
}

#error_msg{
	color:red;
}

#error_message{
	color:red;
}