#container, .menu, .sideMenu, .sidebar, .product .name, .Cart_Product_Name , .Cart_Quantity, .Cart_Price, .Cart_Total/*, .product .image, .product .quantity, .product .price, .product .buttons*/, .product .description, .item-image-container, .item-image, .item-content, .item-description, .item-suggest-container, .index-big-banner, .index-small-banner, .register_container, .footer, .register_block {
  border: 1px solid #eee;
}

	.banner {
		height:200px;
	}
	.Slider-Title {
		background-color:black;
		color:white
	}
	.device_change {
		text-align: center;
	}
	/* line 34, ../sass/main.scss */
	.home_button {
	  float: right;
	  padding-right: 20px;
	  padding-top:10px;
	}

	/* line 37, ../sass/main.scss */
	.home_button_top {
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 12px 12px 12px;
	  border-color: transparent transparent #ffffff transparent;
	}

	/* line 45, ../sass/main.scss */
	.home_button_bottom {
	  margin-left: 5px;
	  width: 14px;
	  height: 11px;
	  background: white;
	}

	.cart_button {
	  float:right;
	  margin-top: 2px;
	  padding-right:10px;
	}
	
	.pagination {
		display:block !important;
		text-align:center;
	}
	/* ================================= */
/* ================================= */
/* ================================= */
/* Product CSS */
/* ================================= */
/* line 288, ../sass/main.scss */
#product_container {
  padding-top: 10px;
}

.product_image_little {
  margin-left: -8px;
}
/* line 292, ../sass/main.scss */
.product {
  /*border: 1px solid #eee;*/
  height: 250px;
  margin-top: 20px;
}

/* line 297, ../sass/main.scss */
.product .name {
  font-size:10;
  height:43px;
  margin-bottom: 3px;
}

/* line 302, ../sass/main.scss */
.product .image {
  height: 150px;
}

/* line 307, ../sass/main.scss */
/*.product .description {
  height: 20%;
}*/

/* line 312, ../sass/main.scss */
.product .price {
  font-family:"Times New Roman";
  height: 10%;
}

/* line 317, ../sass/main.scss */
.product .buttons {
  font-family:"Times New Roman";
  font-size: 13;
  height: 10%;
}

.product .quantity {
  padding-left: 23px;
  font-size: 10;
}
/* ================================= */
/* ================================= */