<!DOCTYPE HTML PUBLIC>
<html>
<head>
<link rel="stylesheet" href="/assets/css/reset.css">
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
<link rel="stylesheet" href="/assets/css/main.css">
<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-main="/assets/js/main.js" src="/assets/js/lib/require.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
	

<%= yield %>

		<div class="device_change">
			<%= link_to "電腦版", :ua_ => 0 %> | <%= link_to "手機板", :ua_ => 1 %>
		</div>
	</div>
<div id="mask"></div>
</body>

</html>
